.col-2 img{
    transform: scale(1);
    transition: all 0.2s linear;
}
.col-2 img:hover{
transform: scale(1.1);
}
.previous{
    justify-content: flex-start;
    
}
.next{
    justify-content: flex-end;
}